        body
        {
            font-size: 13px;
            color: #666;
        }
	#inputArea
	{
	    font-family: Arial, Sans-Serif;
	    font-size: 13px;
	    background-color: #d6e5f4;
	    padding: 10px;
	    width:750px;
	}
	#inputArea input, #inputArea textarea
	{
	    font-family: Arial, Sans-Serif;
	    font-size: 13px;
	    margin-bottom: 5px;
	    /* display: block; */
	    padding: 4px;
	    width: 300px;
	}

        .activeField
        {
            background-image: none;
            background-color: #ffffff;
            border: solid 1px #33677F;
        }
        .idle
        {
	    border: solid 1px #85b1de;
	    background-image: url( '/static/forms/blue_bg.png' );
	    background-repeat: repeat-x;
	    background-position: top;
        }
